
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title><%= title %></title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/plus.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand text-background" href="index.html">Carlinhos</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <%- include('./components/menu.ejs'); %>
                </div>
            </div>
        </nav>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url(https://images.unsplash.com/photo-1484909867806-32bcc4a69e94?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=80)">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>E então, para onde vamos hoje?</h1>
                            <span class="subheading"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="box col-md-10 col-lg-8 col-xl-7">
                        <p>Durante todo o mês de janeiro e o período de fevereiro que antecede a folia, Salvador está em seu melhor momento: toda a energia do carnaval está no ar, sem a bagunça do carnaval. Éssa mágica acontece nos ensaios, que é o nome que os soteropolitanos dão para shows de blocos e cantores de axé, samba-reggae e pagode que funcionam também como bailes de pré-carnaval.</p>
                        <h2 class="section-heading">Salvador</h2>
                        <p>Conheça minhas idas e vindas em Salvador. Pelourinho, onde conheci os meninos doirados.</p>
                        <blockquote class="blockquote">[...]bela de se admirar, bela de se apaixonar
                            por isso por mais que eu queria deixar
                            nao consigo te largar[...]</blockquote>
                        <a href="post.html"><img class="img-fluid" src="https://images.unsplash.com/photo-1591233055842-a984961b71af?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=625&q=80" alt="..." /></a>
                        <span class="caption text-muted">[...]amo essa cidade de coração
                            e minha paixao, e eu porto seguro
                            e minha calma.. minha aurea[...]</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="box col-md-10 col-lg-8 col-xl-7">
                        <h2 class="section-heading">Cidade do Cabo</h2>
                        <p>Que tal acompanhar minha rotida da semana santa ou meu vigésimo quarto natal em Cidade do Cabo entre outras aventuras.</p>
                        <a href="post.html"><img class="img-fluid" src="https://images.unsplash.com/photo-1529528070131-eda9f3e90919?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=625&q=80" alt="..." /></a>
                        <p>A Cidade do Cabo, conhecida em inglês como Cape Town, é a segunda maior metrópole da África do Sul, o núcleo da província do Cabo Ocidental e a capital legislativa deste país. Com seus atrativos que mesclam pontos singularmente exóticos, espécies silvestres e muita vida natural, além de outras atrações turísticas surpreendentes, como a Montanha da Mesa, a Baía da Mesa e seu porto produzido naturalmente, ela é um dos lugares mais procurados do Planeta.</p>
                        <%- include('./components/footer.ejs'); %>